<div class = "body">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <a href="/">
              <img src="https://seeklogo.com/images/T/The_Godfather-logo-E45D5D1E93-seeklogo.com.png" width="100px" alt="" />
            </a>
          </div>
          <div class="col-md-12 text-center buttonG">
            <a href="/profile">
              <button type="button" class=" btn-lg btn-primary">
                Profile
              </button>
            </a>
            <a href="/beadopted">
              <button type="button" class=" btn-lg btn-primary">
                Be Adopted
              </button>
            </a>
            <a href="/readposts">
              <button type="button" class=" btn-lg btn-primary">
                Read Post
              </button>
            </a>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="https://davidwalsh.name/demo/nodejs.png" class="center-block" width="250px" alt=""
            />
            <p>Someday, and that day may never come, I will call upon you to do a service for me. But until that day, accept
              this as a gift</p>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <h3>User.Desciption</h3>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4  col-md-offset-1">
            <ul>
            <li>
              the skills he wants to develop
            </li>
            </ul>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4  col-md-offset-1">
            <li>the user friends</li>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <footer class="col-md-12 col-md-offset-10">
      GaasNipi Developing
    </footer>
  </div>
</div>